{% extends 'base.html' %}


{% block contents %}

<main role="main" class="container">

  <div class="row mb-2">
    <div class="col-md-12 text-center">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-danger font-weight-bold">상세글</strong>
          
          <form method= "POST" action="{% url 'signup' %}">
            {% csrf_token %}
  
            <h5 class="mb-0">이름(ID) <input name="username"  type="text" value=""> </h5><br>
            <h5 class="mb-0">비밀번호 <input name="pwd1"  type="password" value=""> </h5><br>
            <h5 class="mb-0">비밀번호 확인 <input name="pwd2"  type="password" value=""> </h5><br>
            
            <input type="submit" value="완료" class="btn btn-outline-danger font-weight-bold">&nbsp;&nbsp;
            <input type="reset" value="취소" class="btn btn-outline-danger font-weight-bold">

          </form>
    
        </div>
      </div>
    </div>
  </div>

</main>


{% endblock %}  