{% extends 'base.html' %}

{% block contents %}


<main role="main" class="container">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-danger font-weight-bold">상세글</strong>
          
          <h3 class="mb-0">{{blog_detail.title}}</h3>
          <div class="mb-1 text-muted">{{blog_detail.pub_date}}</div>
          <p class="card-text mb-auto"></p>{{blog_detail.body}}</p>
    
        </div>
      </div>
      <div class="col-md-12 text-center">
        <a href="#" class="btn btn-outline-danger"role="button">수정</a>&nbsp;&nbsp;
        <a href="#" class="btn btn-outline-danger"role="button">삭제</a>
      </div>

    </div>
  </div>

</main>
  
  
{% endblock %}